/* elements */
body, a, p, h1, h2, img, ul, ol {
    margin: 0px;
}
h1, h2 {
    text-align: center;
}
h1 {
    font-size: 42px;
    line-height: 32px;
}
h2 {
    font-size: 26px;
    line-height: 26px;
}
p {
    text-indent: 3rem;
}
p, ul, ol {
    text-align: justify;
    padding-left: 7.5%;
    padding-right: 7.5%;
}
ul ul,
ol ul {
    list-style-type: disc;
    padding-right: 0%;
    
}
a {
    color: black;
}
div {
    margin-left: auto;
    margin-right: auto;
}
li {

}
/* classes */
.base-page {
    background:
    linear-gradient(
        to right,
        rgb(0, 0, 0, .26),
        rgb(0, 0, 0, .16) 7.5%,
        rgba(0, 0, 0, .06) 15%,
        rgba(0, 0, 0, 0) 22.5%,
        rgba(0, 0, 0, 0) 77.5%,
        rgba(0, 0, 0, .06) 85%,
        rgb(0, 0, 0, .16) 92.5%,
        rgb(0, 0, 0, .26));
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding-bottom: 2rem;
}
.section {
    width: 70%;
    margin-top: 2rem;
}
.nav-bar {
    width: 100%;
    text-align: center;
    font-size: 26px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    box-shadow: 0px 0px 10px 5px black;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.title h2 {
    padding-top: .5rem;
}
.image-box {
    max-width: 450px;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px black;
}
.recipe-image {
    max-width: 100%;
    border-radius: 1rem;
    display: block; /* gets rid of bar under image */
}
.section .p-n {
    padding-top: .5rem; /* use on <p>: n > 1; where n is the paragraph number */
}
.measure {
    display: inline-block;
    width: 4.2rem;
}
.product {
    display: inline-block; /* without 'block' -> wraps to next line */
}
.card {
    border-radius: 0rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 10px 0px black;
}
.card h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: 
    linear-gradient(
        to top,
        coral 2px,
        transparent 2px);
}
.card ul,
.card ol {
    background-image: 
    repeating-linear-gradient(
        to top,
        lightskyblue 0 2px,
        transparent 2px 1lh);
    line-height: 1.5rem;
}
/* test classes; remove later */
.ingre {
    background-color: lavender;
}
.tools {
    background-color: #EFB6BC;
}
.before {
    background-color: lightgoldenrodyellow;
}
.steps {
    background-color: #C8F2D7;
}
.after {
    background-color: lightblue;
}