/* elements */
body, a, p, h1, h2, img, ul, ol {
    margin: 0px;
}
h1, h2 {
    text-align: center;
}
h1 {
    font-size: 42px;
    line-height: 32px;
}
h2 {
    font-size: 26px;
    line-height: 26px;
}
p {
    text-indent: 3rem;
}
p, ul, ol {
    text-align: justify;
    padding-left: 7.5%;
    padding-right: 7.5%;
}
ul ul,
ol ul {
    list-style-type: disc;
    padding-right: 0%;
}
a {
    color: black;
}
div {
    margin-left: auto;
    margin-right: auto;
}

/* classes */
.base-page {
    background-color: lightgrey;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding-bottom: 2rem;
}
.section {
    background-color: black;
    width: 70%;
    margin-top: 2rem;
}
.nav-bar {
    width: 100%;
    text-align: center;
    font-size: 26px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    box-shadow: 0px 0px 10px 5px black;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.title h2 {
    padding-top: .5rem;
}
.image-box {
    max-width: 450px;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px black;
}
.recipe-image {
    max-width: 100%;
    border-radius: 1rem;
    display: block; /* gets rid of bar under image */
}
.section .p-n {
    padding-top: .5rem; /* use on <p>: n > 1; where n is the paragraph number */
}
.measure {
    display: inline-block;
    width: 4.2rem;
}
.product {
    display: inline-block; /* without 'block' -> wraps to next line */
}
.card h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card {
    border-radius: 1rem;
    padding-bottom: 1rem;
}

/* test classes; remove later */
.b1 {
    background-color: lightgrey;
}
.b2 {
    background-color: lightgreen;
}
.d1 {
    background-color: lightgrey;
}
.d2 {
    background-color: lightcoral;
}
.e {
    background-color: lightseagreen;
}
.f1 {
    background-color: lightslategray;
}
.f2 {
    background-color: lightslategray;
}
.g {
    background-color: lightsalmon;
}
.h {
    background-color: lightpink;
}
.i {
    background-color: lightblue;
}