/* elements */
/*
body, a, p, h1, h2, img, ul, ol {
    margin: 0px;
}
*/

h1, h2 {
    text-align: center;
    line-height: 26px;
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 26px;
}
p {
    text-indent: 3rem;
}
p, ul, ol {
    text-align: justify;
    padding-left: 7.5%;
    padding-right: 7.5%;
}
ul ul,
ol ul {
    list-style-type: disc;
    padding-right: 0%;
}
a {
    color: black;

}

/* classes */
.base-page {
    background-color: lightgrey;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
.section {
    background-color: black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 2px grey;
}
.nav-bar {
    width: 100%;
    text-align: center;
    font-size: 26px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.image-box {
    max-width: 450px;
}
.recipe-image {
    max-width: 100%;
    display: block; /* gets rid of bar under image */
}
.measure {
    display: inline-block;
    width: 4.2rem;
}
.product {
    display: inline-block; /* without 'block' -> wraps to next line */
}

/* test classes; remove later */
.b1 {
    background-color: lightgreen;
}
.b2 {
    background-color: lightgreen;
}
.c {
    background-color: lightyellow;
}
.d1 {
    background-color: lightcoral;
}
.d2 {
    background-color: lightcoral;
}
.e {
    background-color: lightseagreen;
}
.f1 {
    background-color: lightslategray;
}
.f2 {
    background-color: lightslategray;
}
.g {
    background-color: lightsalmon;
}
.h {
    background-color: lightpink;
}
.i {
    background-color: lightblue;
}